__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

build/
dist/
*.egg-info/
*.eggs/
pip-wheel-metadata/


venv/
.env/
.venv/

.vscode/
.idea/

# FEM outputs
*.vtu
*.pvtu
*.pvd
*.vts
*.vtk
*.xdmf
*.msh
results/

.DS_Store
Thumbs.db